body{
    margin: 0%;
    padding: 0%;
}

.navBar{
    margin-top: 2dvh;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBarLogoDiv{
    width: 14rem;
    height: 8rem;
    text-align: center;
}

.navBarLogo{
    width: 100%;
    height: fit-content;
    object-fit: fill;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.466);
}

.navBarSlogan{
    margin: auto;
    font-family:serif;
}

.navBarLinkDiv{
    margin-top: 1dvh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid rgba(255, 199, 44);
}

.navBarLink{
    padding-top: 1dvh;
    padding-bottom: 1dvh;
    width: 50%;
    height: 100%;
    font-size: 120%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;
    transition: .1s;
}

.navBarLink:hover{
    transition: .1s;
    color: rgba(255, 199, 44);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.363);
}

#navBarHomeLink:hover{
    transition: .1s;
    border-left: 2px solid rgba(255, 199, 44);
    border-bottom: 2px solid rgba(255, 199, 44);
}

#navBarContactLink:hover{
    transition: .1s;
    border-right: 2px solid rgba(255, 199, 44);
    border-bottom: 2px solid rgba(255, 199, 44);
}