body{
    margin: 0%;
    padding: 0%;
}

.navBar{
    margin-top: 2dvh;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBarLogoDiv{
    width: 14rem;
    height: 8rem;
    text-align: center;
}

.navBarLogo{
    width: 100%;
    height: fit-content;
    object-fit: fill;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.466);
}

.navBarSlogan{
    margin: auto;
    font-family:serif;
}

.navBarLinkDiv{
    margin-top: 1dvh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid rgba(255, 199, 44);
}

.navBarLink{
    padding-top: 1dvh;
    padding-bottom: 1dvh;
    width: 50%;
    height: 100%;
    font-size: 120%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;
    transition: .1s;
}

.navBarLink:hover{
    transition: .1s;
    color: rgba(255, 199, 44);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.363);
}

#navBarHomeLink:hover{
    transition: .1s;
    border-left: 2px solid rgba(255, 199, 44);
    border-bottom: 2px solid rgba(255, 199, 44);
}

#navBarContactLink:hover{
    transition: .1s;
    border-right: 2px solid rgba(255, 199, 44);
    border-bottom: 2px solid rgba(255, 199, 44);
}

.contactSection {
    width: 70%;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactInfo {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    padding: 1.5rem;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}

.formContainer {
    text-align: center;
}

.contactTitle {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.contactDetails {
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.formContainer {
    width: 40%;
    padding: 2rem;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
    background-color: rgb(255, 199, 44)
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.formGroup label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.formGroup input, .formGroup select, .formGroup textarea {
     padding: 0.3rem; border: 1px solid #000000; border-radius: 4px; font-size: 1rem; 
}