body{ 
    margin: 0%; /* Sätter avstånd till 0% både innanför rutan samt utanför */
    padding: 0%; 
}

p{
    font-style: italic; /*sätter all textformat inom paragraf-taggar till italic*/
}

:root{ /* skapar "variabler" av textfärg, layoutfärg samt box-shadow så att det blir enkelt att ändra på allt innehåll med enstaka rader */
    --textColor: black;
    --primaryColor: rgba(255, 199, 44);
    --boxShadowColor: rgba(0, 0, 0, 0.466); 
}
/* nedan kontrollerar vi utseende för varje given klass*/
.navBar{
    margin-top: 2dvh; /*använder dvh för dynamisk anpassning */
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBarLogoDiv{ /*Storlek och positionering för loggan*/
    width: 14rem;
    height: 8rem;
    text-align: center;
}

.navBarLogo{
    width: 100%;
    height: fit-content;
    object-fit: fill;
    box-shadow: 1px 1px 5px var(--boxShadowColor);
}

.navBarSlogan{
    margin: auto;
    font-family:serif;
}

.navBarLinkDiv{
    margin-top: 1dvh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid var(--primaryColor);
}

.navBarLink{
    padding-top: 1dvh;
    padding-bottom: 1dvh;
    width: 50%;
    height: 100%;
    font-size: 120%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: 2px var(--textColor);
    transition: .1s;
}

.navBarLink:hover{
    transition: .1s;
    color: var(--primaryColor);
    text-shadow: 1px 1px 1px var(--textColor);
}

#navBarHomeLink:hover{
    transition: .1s;
    border-left: 2px solid var(--primaryColor);
    border-bottom: 2px solid var(--primaryColor);
}

#navBarContactLink:hover{
    transition: .1s;
    border-right: 2px solid var(--primaryColor);
    border-bottom: 2px solid var(--primaryColor);
}

.contactSection {
    width: 70%;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactInfo {
    width: 60%;
    margin: auto;
    justify-content: space-between; 
    text-align: center;
    border-top: 2px solid var(--primaryColor);
}

.contactInfoDiv{
    display: flex;
    width: 100%;
    justify-content: center;
    justify-content: space-around;
}

.formContainer {
    text-align: center;
    margin-top: 2dvw;
}

.contactTitle {
    font-size: 1.5dvw;
    margin-top: 2dvw;
    margin-bottom: 0.5rem;
}

.contactDetails {
    font-size: .9dvw;
}

.formContainer {
    width: 60%;
    box-shadow: 1px 1px 5px var(--boxShadowColor);
    border-radius: 5px;
}

.contactForm {
    display: flex;
}

.formGroup {
    width: 50%;
}

.formGroupDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formGroup label {
    font-weight: bold;
}

input{
    width: 70%;
    margin: auto;
    border: 2px solid var(--primaryColor);
}

label{
    width: 80%;
    margin: auto;
}

select{
    width: 70%;
    margin: auto;
    border: 2px solid var(--primaryColor);
}

textarea{
    width: 70%;
    margin: auto;
    border: 2px solid var(--primaryColor);
}

button{
    width: 70%;
    margin-top: 1dvw;
    margin-bottom: 1dvw;
    font-size: 1dvw;
    background-color: var(--primaryColor);
    border: none;
    box-shadow: 0px 0px 5px var(--boxShadowColor);
    border-radius: 5%;
    color: rgba(53, 90, 134);
}

button:hover{
    background-color: rgb(240, 187, 41);
    cursor: pointer;
}
    

.storeList {
    position: fixed;
    bottom: 0px;
    right: 20px;
    width: 200px;
    padding: 1.2rem;
    background-color: var(--primaryColor);
    box-shadow: 0px 0px 10px var(--boxShadowColor);
    z-index: 1000;
}