body{ 
    margin: 0%; /* Sätter avstånd till 0% både innanför rutan samt utanför */
    padding: 0%; 
}

p{
    font-style: italic; /*sätter all textformat inom paragraf-taggar till italic*/
}

:root{ /* skapar "variabler" av textfärg, layoutfärg samt box-shadow så att det blir enkelt att ändra på allt innehåll med enstaka rader */
    --textColor: black;
    --primaryColor: rgba(255, 199, 44);
    --secendaryColor: rgba(53, 90, 134);
    --boxShadowColor: rgba(0, 0, 0, 0.301);
}

.navBarHeader{
    position: relative;
    margin-top: 2dvh;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.navBarLogoDiv{ /*Storlek och positionering för loggan*/
    width: 14rem;
    height: 8rem;
    text-align: center;
}

.navBarLogo{
    width: 100%;
    height: fit-content;
    object-fit: fill;
    box-shadow: 1px 1px 5px var(--boxShadowColor);
}

.navBarSlogan{
    margin: auto;
    font-family:serif;
}

.navBar{
    width: 100%;
    margin: auto;
    height: fit-content;
    justify-content: space-around;
    border-top: 2px solid var(--primaryColor);
}

.navBarList{
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.navBarList>li{ /*träffar listraderna under klassen navBarList*/
    transition: .1s;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    padding: .5dvw;
}

.navBarList>li>a{
    text-decoration: none;
    color: var(--textColor);
}

.dropdown{
    position: relative;
    display: none;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    background-color: var(--primaryColor);
}

.dropdown>li{
    padding: .8dvw;
}

.productListLink{
    color: var(--secendaryColor);
}


.dropdown>li:hover{
    background-color: var(--secendaryColor);
}

.dropdown>li:hover>a{
    color: var(--primaryColor);
}

.dropdown>li>a{
    transition: .1s;
    text-decoration: none;
    color: var(--secendaryColor);
    font-weight: bold;
}

.navBarList > li:hover > .dropdown {
    display: block;
}

#homeLink:hover{
    transition: .1s;
    border-left: 2px solid var(--primaryColor);
    border-bottom: 2px solid var(--primaryColor);
}

#contactLink:hover{
    transition: .1s;
    border-right: 2px solid var(--primaryColor);
    border-bottom: 2px solid var(--primaryColor);
}

.productListLink{
    color: var(--secendaryColor);
}


.navBarProductList>li:hover{
    background-color: var(--secendaryColor);
}

.navBarProductList>li:hover>a{
    color: var(--primaryColor);
}

.navBarList>li:hover>.navBarProductList {
    display: block;
}

.navBarProductList>li>a{
    transition: .1s;
    text-decoration: none;
    color: var(--secendaryColor);
    font-weight: bold;
}

#homeLink:hover{
    transition: .1s;
    border-bottom: 2px solid var(--primaryColor);
}

#contactLink:hover{
    transition: .1s;
    border-bottom: 2px solid var(--primaryColor);
}
.contactSection {
    width: 70%;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactInfo {
    width: 60%;
    margin: auto;
    justify-content: space-between; 
    text-align: center;
    border-top: 2px solid var(--primaryColor);
}

.contactInfoDiv{
    display: flex;
    width: 100%;
    justify-content: center;
    justify-content: space-around;
}

.formContainer {
    text-align: center;
    margin-top: 2dvw;
}

.contactTitle {
    font-size: 1.5dvw;
    margin-top: 2dvw;
    margin-bottom: 0.5rem;
}

.contactDetails {
    font-size: .9dvw;
}

.formContainer {
    width: 60%;
    box-shadow: 1px 1px 5px var(--boxShadowColor);
    border-radius: 5px;
}

.contactForm {
    display: flex;
}

.formGroup {
    width: 50%;
}

.formGroupDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formGroup label {
    font-weight: bold;
}

input{
    width: 70%;
    margin: auto;
    border: 2px solid var(--primaryColor);
}

label{
    width: 80%;
    margin: auto;
}

select{
    width: 70%;
    margin: auto;
    border: 2px solid var(--primaryColor);
}

textarea{
    width: 70%;
    margin: auto;
    border: 2px solid var(--primaryColor);
}

button{
    width: 70%;
    margin-top: 1dvw;
    margin-bottom: 1dvw;
    font-size: 1dvw;
    background-color: var(--primaryColor);
    border: none;
    box-shadow: 0px 0px 5px var(--boxShadowColor);
    border-radius: 5%;
    color: rgba(53, 90, 134);
}

button:hover{
    background-color: rgb(240, 187, 41);
    cursor: pointer;
}
    

.storeList {
    position: fixed;
    bottom: 0px;
    right: 20px;
    width: 200px;
    padding: 1.2rem;
    background-color: var(--primaryColor);
    box-shadow: 0px 0px 10px var(--boxShadowColor);
    z-index: 1000;
}