body{
    margin: 0%;
    padding: 0%;
}

p{
    font-style: italic;
}

:root{
    --textColor: black;
    --primaryColor: rgba(255, 199, 44);
    --secendaryColor: rgba(53, 90, 134);
    --boxShadowColor: rgba(0, 0, 0, 0.466);
}

.navBarHeader{
    position: relative;
    margin-top: 2dvh;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.navBarLogoDiv{
    width: 14rem;
    height: 8rem;
    text-align: center;
}

.navBarLogo{
    width: 100%;
    height: fit-content;
    object-fit: fill;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.466);
}

.navBarSlogan{
    margin: auto;
    font-family:serif;
}

.navBar{
    width: 100%;
    margin: auto;
    height: fit-content;
    justify-content: space-around;
    border-top: 2px solid rgba(255, 199, 44);
}

.navBarList{
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.navBarList>li{
    transition: .1s;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    padding: .5dvw;
}

.navBarList>li>a{
    text-decoration: none;
    color: var(--textColor);
}

.navBarProductList{
    position: relative;
    display: none;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    background-color: var(--primaryColor);
}

.navBarProductList>li{
    padding: .8dvw;
}

.productListLink{
    color: var(--secendaryColor);
}


.navBarProductList>li:hover{
    background-color: var(--secendaryColor);
}

.navBarProductList>li:hover>a{
    color: var(--primaryColor);
}

.navBarProductList>li>a{
    transition: .1s;
    text-decoration: none;
    color: var(--secendaryColor);
    font-weight: bold;
}

.navBarList > li:hover > .navBarProductList {
    display: block;
}

#homeLink:hover{
    transition: .1s;
    border-left: 2px solid rgba(255, 199, 44);
    border-bottom: 2px solid rgba(255, 199, 44);
}

#contactLink:hover{
    transition: .1s;
    border-right: 2px solid rgba(255, 199, 44);
    border-bottom: 2px solid rgba(255, 199, 44);
}

.bestDealsSection{
    position: relative;
    width: 70%;
    height: fit-content;
    margin: auto;
    margin-top: 5dvh;
}

.bestDealsLegend{
    font-size: 1.2rem;
    margin: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bestDeals{
    position: relative;
    margin: auto;
    width: 100%;
    height: fit-content;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4dvw;
    row-gap: 1dvw;
    box-shadow: 0px 0px 4px var(--boxShadowColor);
    padding-top: 1rem;
}

.bestDealsDiv{
    width: 6dvw;
    height: fit-content;
}

.bestDealsImageDiv{
    width: 100%;
    height: 5rem;
    box-shadow: 0px 0px 5px var(--boxShadowColor);
    transition: .1s;
}

.bestDealsImageDiv:hover{
    width: 100%;
    height: 5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
    transition: .1s;
}

.bestDealsImageAnchor{
    width: 100%;
    height: 100%;
}

.bestDealsImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bestDealsDivPriceDiv{
    width: 100%;
    height: 1rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.bestDealsPrice{
    font-size: 1.1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:300;
    text-decoration: line-through;
}

.bestDealsPriceDiscount{
    font-size: 1.1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:300;
    color: rgba(53, 90, 134);
}

.mainProductSection{
    position: relative;
    width: 70%;
    height: fit-content;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.ProductImageDiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainProduct{
    width: 65%;
    height: 28dvw;
}

.mainProductImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sideProduct{
    width: 35%;
    height: 28dvw;
}

.productImageAnchor{
    width: 100%;
    height: 100%;
    transition: .2s;
}

.productImageAnchor:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.473);
    transition: .2s;
}

.sideProductImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productTitle{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin: auto;
}

.productInfo{
    margin: auto;
}



