body{
    margin: 0%;
    padding: 0%;
}

iframe{
    width: 100%;
    height: 100%;
    border: 0;
}

p{
    font-size: 1dvw;
    font-style: italic;
}

:root{
    --textColor: black;
    --primaryColor: rgba(255, 199, 44);
    --boxShadowColor: rgba(0, 0, 0, 0.466);
}

.navBar{
    margin-top: 2dvh;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBarLogoDiv{
    width: 14rem;
    height: 8rem;
    text-align: center;
}

.navBarLogo{
    width: 100%;
    height: fit-content;
    object-fit: fill;
    box-shadow: var(--boxShadowColor);
}

.navBarSlogan{
    margin: auto;
    font-family:serif;
}

.navBarLinkDiv{
    margin-top: 1dvh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: var(--primaryColor);
}

.navBarLink{
    padding-top: 1dvh;
    padding-bottom: 1dvh;
    width: 50%;
    height: 100%;
    font-size: 120%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: var(--textColor);
    transition: .1s;
}

.navBarLink:hover{
    transition: .1s;
    color: var(--primaryColor);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.363);
}

#navBarHomeLink:hover{
    transition: .1s;
    border-left: var(--primaryColor);
    border-bottom: var(--primaryColor);
}

#navBarContactLink:hover{
    transition: .1s;
    border-right: var(--primaryColor);
    border-bottom: var(--primaryColor);
}

.productSection{
    width: 60%;
    height: 35dvw;
    margin: auto;
    margin-top: 8dvh;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.mainProductDiv{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productImageDiv{
    width: 100%;
    height: 48%;
    box-shadow: var(--boxShadowColor);
}

.productImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sideProductDiv{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--boxShadowColor);
}

.prouctInfoDiv{
    width: 100%;
    height: 50%;
}

.productInfoHeader{
    width: 80%;
    margin: auto;
    margin-top: 1dvw;
    text-align: center;
    font-size: 1.2dvw;
    border-top: var(--primaryColor);
}

.productLocation{
    width: 100%;
    height: 100%;
}

.productInfoTable{
    width: 80%;
    margin: auto;
}

.productInfoTable,th,td{
    text-align: center;
    padding: .2dvw;
    border-spacing: .5dvw;
}

td,th{
    box-shadow: var(--boxShadowColor);
    font-size: .8dvw;
}

.productAvailabilityDiv{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#productInStore{
    color: red;
}

#productInWarehouse{
    color: green;
}