body{
    margin: 0%;
    padding: 0%;
}

iframe{
    width: 100%;
    height: 100%;
    border: 0;
}

p{
    font-style: italic;
}

:root{
    --textColor: black;
    --primaryColor: rgba(255, 199, 44);
    --secendaryColor: rgba(53, 90, 134);
    --boxShadowColor: rgba(0, 0, 0, 0.301);
}

.navBarHeader{
    position: relative;
    margin-top: 2dvh;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.navBarLogoDiv{
    width: 14rem;
    height: 8rem;
    text-align: center;
}

.navBarLogo{
    width: 100%;
    height: fit-content;
    object-fit: fill;
    box-shadow: 1px 1px 5px var(--boxShadowColor);
}

.navBarSlogan{
    margin: auto;
    font-family:serif;
}

.navBar{
    width: 100%;
    margin: auto;
    height: fit-content;
    justify-content: space-around;
    border-top: 2px solid var(--primaryColor);
}

.navBarList{
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.navBarList>li{
    position: relative;
    transition: .1s;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    padding: .5dvw;
    transition: .2s;
}

.navBarList>li>a{
    text-decoration: none;
    color: var(--textColor);
    transition: .2s;
}

.navBarProductList{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    list-style-type: none;
    padding: 0;
    background-color: var(--primaryColor);
    transition: .2s;
    box-shadow: 0px 0px 5px var(--boxShadowColor);
}

.navBarProductList>li{
    padding: .5dvw;
}

.productListLink{
    color: var(--secendaryColor);
}


.navBarProductList>li:hover{
    background-color: var(--secendaryColor);
}

.navBarProductList>li:hover>a{
    color: var(--primaryColor);
}

.navBarList>li:hover>.navBarProductList {
    display: block;
}

.navBarProductList>li>a{
    transition: .1s;
    text-decoration: none;
    color: var(--secendaryColor);
    font-weight: bold;
}

#homeLink:hover{
    transition: .1s;
    border-bottom: 2px solid var(--primaryColor);
}

#contactLink:hover{
    transition: .1s;
    border-bottom: 2px solid var(--primaryColor);
}

.productSection{
    width: 60%;
    height: 35dvw;
    margin: auto;
    margin-top: 8dvh;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.mainProductDiv{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productImageDiv{
    width: 100%;
    height: 48%;
    box-shadow: 0px 0px 6px var(--boxShadowColor);
}

.productImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sideProductDiv{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 6px var(--boxShadowColor);
}

.prouctInfoDiv{
    width: 100%;
    height: 50%;
}

.productInfoHeader{
    width: 80%;
    margin: auto;
    margin-top: 1dvw;
    text-align: center;
    font-size: 1.2dvw;
    border-top: 2px solid var(--primaryColor);
}

.productLocation{
    width: 100%;
    height: 100%;
}

.productInfoTable{
    width: 80%;
    margin: auto;
}

.productInfoTable,th,td{
    text-align: center;
    padding: .2dvw;
    border-spacing: .5dvw;
}

td,th{
    box-shadow: 0px 0px 3px var(--boxShadowColor);
    font-size: .8dvw;
}

.productAvailabilityDiv{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#productInStore{
    color: red;
}

#productInWarehouse{
    color: green;
}