body{
    margin: 0%;
    padding: 0%;
}

iframe{
    width: 100%;
    height: 100%;
    border: 0;
}

.navBar{
    margin-top: 2dvh;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBarLogoDiv{
    width: 14rem;
    height: 8rem;
    text-align: center;
}

.navBarLogo{
    width: 100%;
    height: fit-content;
    object-fit: fill;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.466);
}

.navBarSlogan{
    margin: auto;
    font-family:serif;
}

.navBarLinkDiv{
    margin-top: 1dvh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid rgba(255, 199, 44);
}

.navBarLink{
    padding-top: 1dvh;
    padding-bottom: 1dvh;
    width: 50%;
    height: 100%;
    font-size: 120%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;
    transition: .1s;
}

.navBarLink:hover{
    transition: .1s;
    color: rgba(255, 199, 44);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.363);
}

#navBarHomeLink:hover{
    transition: .1s;
    border-left: 2px solid rgba(255, 199, 44);
    border-bottom: 2px solid rgba(255, 199, 44);
}

#navBarContactLink:hover{
    transition: .1s;
    border-right: 2px solid rgba(255, 199, 44);
    border-bottom: 2px solid rgba(255, 199, 44);
}

.productSection{
    width: 60%;
    height: 35dvw;
    margin: auto;
    margin-top: 8dvh;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.mainProductDiv{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productImageDiv{
    width: 100%;
    height: 48%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.349);
}

.productImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sideProductDiv{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.349);
}

.prouctInfoDiv{
    width: 100%;
    height: 50%;
}

.productLocation{
    width: 100%;
    height: 50%;
}

.productName{
    margin: auto;
    margin-top: .5dvw;
    text-align: center;
    font-size: 1.3dvw;
    width: 80%;
}

.productInfoName{
    margin: auto;
    margin-top: .5dvw;
    text-align: center;
    font-size: 1.1dvw;
    width: 100%;
    border-top: 2px solid rgba(255, 199, 44);
    padding-top: .5rem;
}

.productInfo{
    font-size: .8dvw;
}

.productInfoSubDiv{
    width: 80%;
    height: 100%;
    margin: auto;
}

.ProductColorDiv{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.productDimensions{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.productAvailability{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.inStoreSpan{
    color: red;
}

.inWarehouseSpan{
    color: green;
}

#productInfoColor2{
    color: grey;
}

#productInfoColor3{
    color: blue;
}

#orderLink{
    margin-left: .3dvw;
    color: rgba(53, 90, 134);
    text-decoration: none;
    background-color: rgba(255, 199, 44);
    border-radius: 5%;
    padding: .2dvw;
    transition: .1s;
}

#orderLink:hover{
    background-color: rgba(53, 90, 134);
    color: rgba(255, 199, 44);
    transition: .1s;
}